<div class="container">
  <ng-container *ngFor="let comment of comments | async"
    ><app-comment
      [comment]="comment"
      [currentUser]="currentUser"
      (confirmDelete)="confirmDelete(comment)"
    ></app-comment>
    <div class="replies">
      <app-comment
        *ngFor="let reply of comment.replies"
        [comment]="reply"
        [currentUser]="currentUser"
        [parentComment]="comment"
        (confirmDelete)="confirmDelete(reply)"
      ></app-comment>
    </div>
  </ng-container>
</div>

<app-add-comment [currentUser]="currentUser"></app-add-comment>

<ng-container *ngIf="deleteModalOpen">
  <app-delete-modal
    (cancel)="deleteModalOpen = false"
    (delete)="deleteComment()"
  ></app-delete-modal>
  <div class="dialog-overlay"></div>
</ng-container>
